* {
    overflow: hidden;
}
body {
    background-color: black;
    font-family: sans-serif;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
}
header {
    display: none;
}

main {
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
    /* background-color: rgb(232, 204, 125); */
    /* background-color: #fdf6e3; */
    background-image: url("../assets/images/papertexture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main article {
    /* outline: 1px solid red; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    overflow: hidden;
    border-bottom: 2px solid black;
    padding-left: 2%;
}

a {
    color: black;
}


.from {
    /* outline: 1px solid green; */
    width: 60%;
    margin-left: 0;
    text-align: center;
    display: block;
}

main article p {
   width: auto; 
}

figure {
    /* outline: 1px solid blue; */
    margin: 0;
    padding: 0;
    height: 10%;
    width: 10%;
    overflow: hidden;
    justify-content: flex-start;
}

figure img {
    padding: 0;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    filter:brightness(0.75)
}

.emblem {
    filter: grayscale();
    z-index: 0;
}

.classified {
    height: max-content;
    position: relative;
    left: -5%;
    top: -1rem;
    z-index: 1;
}

.block {
    width: 50%;
    border: 1px solid black;
    margin-bottom: 1.5rem;
}


.row {

    margin: 0;
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

mark {
    color: black;
    background-color: black;
}

/* Change this to be dynamic via JS */
/* .row span {
    color: green;
} */

ul {
    list-style: square;
}

li {
    line-height: 1.5rem;
}